#One{
    cursor: pointer;
}

h2{
    text-decoration: underline;
    text-align: center;
    font-family: 'comic sans ms';
}
h6{
    text-align: center;
    font:inherit;
    font-family: "Trebuchet MS";
}
body{
    background-color: #4C191B ;
    color:#ECFFF8;
}
.One{
    background-color: #E3DAFF;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}
.Two{
    background-color: #4C191B ;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    border-width: 5px;
    border-color: rgb(239, 174, 62);
}
#Three{
    width:"40px";
}
#loginPage{
    background-color: #0bcbe5 ;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    margin-top: 100px;
}
#logingheading{
    text-align: center;
    font-family: 'Trebuchet MSs';
    font-size: 30px;
    color: #ffffff ;
}