/* image style*/
#One{
    cursor: pointer;
}
/*logining and name heading*/
h2{
    text-decoration: underline;
    text-align: center;
    font-family: 'comic sans ms';
}
/*h6 text in center*/
h6{
    text-align: center;
    font:inherit;
    font-family: "Trebuchet MS";
}
/*body background color and text color*/
body{
    /*background: url('pcu.jpeg') no-repeat center center fixed;
    background-size: cover;*/
}
/*button style for Login and Download*/
.One{
    background-color: #E3DAFF;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}
/*button style for Resume Header*/
.Two{
    background-color: #4C191B ;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    border-width: 5px;
    border-color: rgb(239, 174, 62);
}
/*button style for login page*/
#loginPage{
    background:url('pcu.jpeg') no-repeat center center fixed;
    background-size: cover ;
    height: 700px;
    color: white;
}
/*login page text in center*/
#logingheading{
    text-align: center;
    font-family: 'Trebuchet MSs';
    font-size: 30px;
    color: #ffffff ;
}
.Resumeimage{
    background: #673b3b;
}